<!doctype html>
<html lang="en">
<head th:insert="fragments/head :: head"></head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="container-fluid">
    <div class="row vh-100">

        <main class="ms-sm-auto px-md-4 h-100">
            <h2 th:text="${title}"/>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>username</th>
                        <th>nickname</th>
                        <th>email</th>
                        <th>registrationDate</th>
                        <th>roles</th>
                        <th>changeAuthor</th>
                        <th>changedDate</th>
                        <th>Redact</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user: ${users}">
                        <td th:text="${user.userId}"/>
                        <td th:text="${user.username}"/>
                        <td th:text="${user.nickname}"/>
                        <td th:text="${user.email}"/>
                        <td th:text="${user.registrationDate}"/>
                        <td th:each="role : ${user.roles}">
                            <div th:text="${role.name}"></div>
                        </td>
                        <td th:text="${user.changeAuthor}"/>
                        <td th:text="${user.changedDate}"/>
                        <td>
                            <form action="#" th:action="@{'/admin/users/{id}'(id=${user.userId})}" th:method="get">
                                <button type="submit" id="submitButton" class="btn btn-primary">Редактировать</button>
                            </form>
                        </td>
                        <td>
                            <form action="#" th:action="@{'/admin/users/delete/{id}'(id=${user.userId})}"
                                  th:method="post">
                                <button type="submit" id="submitButton" class="btn btn-danger">Удалить</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <form action="#" th:action="@{/admin/users/create}" th:method="get">
                    <button type="submit" id="submitButton" class="btn btn-primary">Создать нового пользователя</button>
                </form>
            </div>
        </main>

    </div>
</div>
<footer th:insert="fragments/footer :: footer" class="footer mt-auto py-3 bg-light fixed-bottom"></footer>
</body>
</html>